{% extends "base.html" %}

{% block content %}


    <body>
        <h1> blog </h1>

        <hr>
        {% for post in posts %}
            <div class = "post">
                <div class = "post-title"><a href="/blog/{{post.key().id()}}">{{post.title}}</a></div>
                <pre class= "post-body">{{post.post}}</pre>
            </div>
            <hr>
        {% endfor %}
        <div class ="navbar" id="botnav">
            <a href="/blog?page={{ prevpage }}">< prev</a>   |   <a href="/blog?page={{ nextpage }}">next ></a></li>
    </body>

{% endblock %}
